<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shican.quizcreator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/project_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ProjectMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizMain" />
        <activity android:name=".ChooseQuiz" />
        <activity android:name=".DisplayQuiz" />
        <activity android:name=".CreateQuiz" />
        <activity android:name=".OCMain" />
        <activity android:name=".OCAdd" />
        <activity android:name=".OCDelete" />
        <activity android:name=".OCInfor"/>
        <activity android:name=".PatientListActivity"/>
        <activity android:name=".RecordDetailActivity"/>
        <activity android:name=".RegistrationFormActivity"/>
        <activity android:name=".DoctorFragmentDetailActivity"/>
        <activity android:name=".DentistFragmentDetailActivity"/>
    </application>

</manifest>